  <link rel="stylesheet" type="text/css" href="fileadmin/files/css/factuur.css" />
    
  <div id="header">
      <div id="header_image">
        <img src="fileadmin/files/css/images/logo.jpg" />
    </div>

    <div id="header_tekst">  
      <div id="header_tekst_h1"> FACTUUR Maatschap Goed Zorgen Tiel </div>
        <div id="header_tekst_h2"> Als je zorgen moet... doe het dan goed!</div>
    </div>  
  </div>
    
  <div id="invoice_content" >
      <table width="100%" border="0" >
        
        <tr>
          <td width="50%">
                 <strong>Leslocatie:</strong><br/>
                {registration.event.location.title}<br />
                {registration.event.location.address}<br />
                {registration.event.location.zip} {registration.event.location.city}<br />
                {registration.event.location.country}
            </td>
          <td width="50%" style="padding-left:50px">
                <strong>Factuuradres:</strong><br/>
               {registration.company}<br />
                  {registration.firstname} {registration.lastname}<br/>
                 {registration.address}<br/>
                {registration.zip}  {registration.city}<br/>
               {registration.country}
             </td>
         </tr>
     
         <tr>
           <td>
               <br/><br/>
               <strong>Factuurdatum:</strong>  <f:format.date format="d-m-Y">{registration.crdate}</f:format.date> <br />
               <strong>Factuurnummer:</strong>  {registration.factuurnr} <br />
               U heeft betaald via <strong>{registration.paymentmethod}</strong> <br />
                 
           </td>
             
           <td>
             </td> 
         </tr>
     </table>
     
     <br /> <br />
     
     <div id="invoice_details">
       <table width="80%" border="1" >
           <tr class="invoiceTableHeading">
             <th width="15%">
             Lesdatum
           </th>
             <th width="15%">
             Scholingsnr
           </th>
             <th width="55%">
             Omschrijving
           </th>
             <th width="15%">
             Prijs
           </th>
           </tr>
          
          <tr>
            <td >
           <f:format.date format="%d-%m-%Y">{registration.event.startdate}</f:format.date>
             </td>
           <td >
             {registration.event.uid}
           </td>
             <td >
             {registration.event.title}
           </td>
             <td class="cell_price">
                     <f:format.currency currencySign="€" 
                          decimalSeparator="," 
                           thousandsSeparator="." 
                            prependCurrency="TRUE" 
                         separateCurrency="TRUE" 
                          decimals="2">{registration.paymentPrice}</f:format.currency>
            </td>
        </tr>
    
    </table>
 </div>   
     <br /> <br />
     
     <div id="invoice_footer">
       <table width="100%" border="0" >
           <tr>
             <td width="50%">
             Maatschap Goed Zorgen Tiel is ingeschreven bij het CRKBO. Deze factuur is daardoor vrijgesteld van BTW.<br />
             Op deze factuur zijn onze Algemene Voorwaarden van toepassing <br/>
             Deze zijn in te zien op onze website.<br/>
           </td>
             <td width="50%" style="padding-left:50px">
               Betalingsconditie: <br/>
                 Netto binnen 30 dagen <br/>
           </td>
           </tr> 
         </table>
     </div>
         
  
      <div id="invoice_footer_tekst">
        <table width="100%" border="0" > 
        <tr>
          <td width="50%">
                 Maatschap Goed Zorgen Tiel<br />
                Stationsstraat 15A<br/>
               4001 CC   TIEL<br/>
                  Mail: info@goedzorgen.nl<br/>
                 Website: www.goedzorgen.nl<br/>
               
             </td>
           <td width="50%" style="padding-left:50px">
                 Bankrekening: NL90 INGB 000 528 24 75 <br/>
               Inschrijving Kvk: 50061739
             </td>
         </tr>  
       </table>
       </div>
       
     </div>
